.rr-container,
#drupal-off-canvas-wrapper .rr-container {
  --rr-background-color: #f8fafd;
  --rr-color-link: #003ecc;
  --rr-color-text: #232429;
  --rr-difficult-dark: #4a1c2f;
  --rr-difficult-light: #e3b5c8;
  --rr-easy-dark: #365214;
  --rr-easy-light: #a8db69;
  --rr-moderate-dark: #5c550a;
  --rr-moderate-light: #ebde49;
  --rr-padding-y: 1rem;
  --rr-score-rating-list-y: 0px;
  --rr-score-rating-width: 100px;
  --rr-stroke-color: #d4d4d8;
  --rr-unknown-dark: #000;
  --rr-unknown-light: #cddcf1;
  container-type: inline-size;
}
.rr-container .rr-container--inner,
#drupal-off-canvas-wrapper .rr-container .rr-container--inner {
  display: flex;
  align-items: center;
  border: 1px solid var(--rr-stroke-color);
  flex-flow: row nowrap;
  background-color: var(--rr-background-color);
  gap: 1rem;
  padding: var(--rr-padding-y) 1.5rem;
  line-height: 2rem;
}
@container (max-width: 700px) {
  .rr-container .rr-container--inner,
  #drupal-off-canvas-wrapper .rr-container .rr-container--inner {
    flex-flow: column nowrap;
    align-items: start;
  }
}
.rr-container .rr-label,
.rr-container .rr-help-text,
#drupal-off-canvas-wrapper .rr-container .rr-label,
#drupal-off-canvas-wrapper .rr-container .rr-help-text {
  color: var(--rr-color-text);
}
.rr-container .rr-help-text a,
#drupal-off-canvas-wrapper .rr-container .rr-help-text a {
  color: var(--rr-color-link);
}
.rr-container .rr-wrapper-label-ratings,
#drupal-off-canvas-wrapper .rr-container .rr-wrapper-label-ratings {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
}
.rr-container .rr-help-text,
#drupal-off-canvas-wrapper .rr-container .rr-help-text {
  font-style: italic;
}
.rr-container .rr-rating,
#drupal-off-canvas-wrapper .rr-container .rr-rating {
  display: flex;
  position: relative;
  align-self: stretch;
  margin-top: calc(-1 * var(--rr-padding-y));
  width: 200px;
  margin-bottom: calc(-1 * var(--rr-padding-y));
}
.rr-container .rr-rating-list,
#drupal-off-canvas-wrapper .rr-container .rr-rating-list {
  align-self: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.rr-container .rr-rating-list [data-rr-option],
#drupal-off-canvas-wrapper .rr-container .rr-rating-list [data-rr-option] {
  color: var(--rr-color-text);
  border: 1px solid black;
  padding: 0.5rem 0.75rem;
  border-radius: 2px;
  line-height: 1;
}
.rr-container .rr-rating-list [data-rr-option][aria-current=false],
#drupal-off-canvas-wrapper .rr-container .rr-rating-list [data-rr-option][aria-current=false] {
  display: none;
}
.rr-container .rr-rating-list [data-rr-option=unknown],
#drupal-off-canvas-wrapper .rr-container .rr-rating-list [data-rr-option=unknown] {
  border-color: var(--rr-unknown-dark);
  background-color: var(--rr-unknown-light);
}
.rr-container .rr-rating-list [data-rr-option=easy],
#drupal-off-canvas-wrapper .rr-container .rr-rating-list [data-rr-option=easy] {
  color: var(--rr-easy-dark);
  border-color: var(--rr-easy-dark);
  background-color: var(--rr-easy-light);
}
.rr-container .rr-rating-list [data-rr-option=moderate],
#drupal-off-canvas-wrapper .rr-container .rr-rating-list [data-rr-option=moderate] {
  color: var(--rr-moderate-dark);
  border-color: var(--rr-moderate-dark);
  background-color: var(--rr-moderate-light);
}
.rr-container .rr-rating-list [data-rr-option=difficult],
#drupal-off-canvas-wrapper .rr-container .rr-rating-list [data-rr-option=difficult] {
  color: var(--rr-difficult-dark);
  border-color: var(--rr-difficult-dark);
  background-color: var(--rr-difficult-light);
}

/*# sourceMappingURL=reading-rating.css.map */
