.rr-container,
#drupal-off-canvas-wrapper .rr-container {
  --rr-background-color: #f8fafd;
  --rr-color-link: #003ecc;
  --rr-color-text: #232429;
  --rr-difficult-dark: #4a1c2f;
  --rr-difficult-light: #e3b5c8;
  --rr-easy-dark: #365214;
  --rr-easy-light: #a8db69;
  --rr-moderate-dark: #5c550a;
  --rr-moderate-light: #ebde49;
  --rr-padding-y: 1rem;
  --rr-score-rating-list-y: 0px;
  --rr-score-rating-width: 100px;
  --rr-stroke-color: #d4d4d8;
  --rr-unknown-dark: #000;
  --rr-unknown-light: #cddcf1;

  container-type: inline-size;

  .rr-container--inner {
    display: flex;
    align-items: center;
    border: 1px solid var(--rr-stroke-color);
    flex-flow: row nowrap;
    background-color: var(--rr-background-color);
    gap: 1rem;
    padding: var(--rr-padding-y) 1.5rem;
    line-height: 2rem;

    @container (max-width: 700px) {
      flex-flow: column nowrap;
      align-items: start;
    }
  }

  .rr-label,
  .rr-help-text {
    color: var(--rr-color-text);
  }

  .rr-help-text a {
    color: var(--rr-color-link);
  }

  .rr-wrapper-label-ratings {
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
  }

  .rr-help-text {
    font-style: italic;
  }

  .rr-rating {
    display: flex;
    position: relative;
    align-self: stretch;
    margin-top: calc(-1 * var(--rr-padding-y));
    width: 200px;
    margin-bottom: calc(-1 * var(--rr-padding-y));
  }

  .rr-rating-list {
    align-self: center;
    margin: 0;
    padding: 0;
    list-style: none;

    & [data-rr-option] {
      color: var(--rr-color-text);
      border: 1px solid black;
      padding: 0.5rem 0.75rem;
      border-radius: 2px;
      line-height: 1;
    }
    & [data-rr-option][aria-current=false] {
      display: none;
    }
    & [data-rr-option=unknown] {
      border-color: var(--rr-unknown-dark);
      background-color: var(--rr-unknown-light);
    }
    & [data-rr-option=easy] {
      color: var(--rr-easy-dark);
      border-color: var(--rr-easy-dark);
      background-color: var(--rr-easy-light);
    }
    & [data-rr-option=moderate] {
      color: var(--rr-moderate-dark);
      border-color: var(--rr-moderate-dark);
      background-color: var(--rr-moderate-light);
    }
    & [data-rr-option=difficult] {
      color: var(--rr-difficult-dark);
      border-color: var(--rr-difficult-dark);
      background-color: var(--rr-difficult-light);
    }
  }
}
